<header class="cabecera">  
    <div class="logo-cnt">
        <a class="navbar-brand" href="#">          
          <img src="../../assets/img/arbol.png" alt="pandoApp">
          <h1 class="titApp">Pando</h1>
        </a>
      </div>
  <nav class="navbar navbar-expand-lg navbar-light nav">
      <ul class="navbar-nav mr-auto lnks">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contactos']">Contactos<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/chats']">Chat</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" [routerLink]="['/votaciones']">Votaciones</a>
        </li> -->
      </ul>
  </nav>
</header>
